.my-text-sidebar {
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  background: #1572e8;
}

.my-text-sidebar ul {
  list-style: none;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  form input {
    width: 400px !important;
  }

  form select {
    width: 400px !important;
    border-radius: 5px !important;
  }
}

a {
  text-decoration: none !important;
}

@media only screen and (max-width: 450px) {
  .btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .btn1 {
    margin-bottom: 20px;
  }
}

/* Styles for tables in courses and attendance records */
#title {
  text-align: center;
  font-family: inherit;
}

#students {
  text-align: center;
  font-family: inherit;
  border-collapse: collapse;
  width: 100%;
}

#students td,
#students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even) {
  background-color: #f2f2f2;
}

#students tr:hover {
  background-color: #ddd;
}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1572e8;
  color: white;
}
